<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Users</key>
	<dict>
		<key>hargun@gmail.com</key>
		<string>12345</string>
		<key>ish@gmail.com</key>
		<string>1234</string>
		<key>gur@gmail.com</key>
		<string>11111</string>
	</dict>
</dict>
</plist>
